h1{
  margin-top: 50px;
}

ul {
  padding-left: 0px;
}

ul ul{
  display:none;
  position: absolute;
}
li:hover ul.niveau-2, li li:hover ul.niveau-3{
  display:block;
}


footer{
  margin-top: 100px;
  text-align: center;
  display: block;
}

#menu {
  position: relative;
  top: 0;
  left: 0;
  bottom : 0;
  width: 100%;
}

#menu ul{
  margin: 0px;
  padding-bottom: 10px;
  list-style-type: none;
  background-color: rgb(179, 0, 52);
  text-align: center;
}
#menu li{
  display:inline-block;
  width: 100px;
  height: 40px;
  padding: 20px 10px 0px 10px;
  text-align: center;
  line-height: 40px;
}
#menu li a{
  display: block;
  text-decoration: none;
}

.niveau-2 .menu {
  display: block !important;
}

.niveau-3 {
  position: relative;
  left: 110px;
  bottom: 50px;
}

.justice-league, .justice-league li {
  width: 170px !important;
}